.answer.card
  .numbers.like-badge
    .number
      span.number.num-votes= question.numLikes
    .button
      a.like(href='#', data-id=answer.id)
        i.fa.fa-thumbs-up
        | 
        | 좋아요

  .card-body
    .content= answer.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | 댓글 작성 #{moment(answer.createdAt).format('YYYY-MM-DD')}
        if answer.author
          | 
          | by #[a(href=`/users/${answer.author.id}`)= answer.author.name]
