.host='주최사: '+question.host
.field='분야: '+question.field
.who='응시대상: '+question.who
.priod='접수기간: '+question.priod
.content='\n공모요강'+ question.content
.manager='\n담당자: '+question.manager
.phone='연락처: '+question.phone
.etc='추가정보: ' +question.etc

.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= 태그
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= question.numLikes] 좋아요,
      #[span.number.num-answers= question.numAnswers] 댓글,
      #[span.number.num-views= question.numReads] 읽은 수
  .col-sm
    .author
      | 공모전 게시 #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
